<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}

<!--About-->

<div class="container about">
    <div class="row next">
        <h1>Introduction</h1>
        <p>Nowadays, more and more tourists search for travel-related information online. Reading Dreams Travel blog 
            is an important source of inspiration and brings several advantages from the reader’s point of view: 
            the Web is readily accessible; content is selected and often up-to-date, and blog entries promise personal 
            experiences of other travelers. From our point of view, in online environments a variety of blogging 
            practices can be played out which allow for creativity in presenting one’s own travel experiences 
            in a multimedia format, including text and photographs. Moreover, Dreams Travel blog can be regarded as 
            interfaces for community members to share travel advice, exchange opinions on tourist activities, 
            and communicate with each other.</p>
    </div>
    <div class="row next">
        <h1>Our Mission</h1>
        <p>Our mission is to help you live the life you always imagined by giving you information and details 
           about real-life experiences. Through travel, we connect people to positive experiences enabling them 
           to see the world differently. To create a world, where everyone is encouraged to travel.
           In our own personal travel we have created so many lasting memories. At Dreams Travel our purpose is 
           to create the same for you through your travel experiences.</p>
    </div>
    <div class="row next">
        <h1>What you can expect</h1>
        <p>Our content is made for YOU. <br> 
            Here at Dreams Travel, we focus on our liberty of information and reader’s needs. Our content thrives on 
            your questions so feel free to contact us any time and we will respond as soon as possible. <br>
            Our reporting is easily understandable.
            We aim to deliver and publish content that all our audience would understand. 
            You can digest our content even if you have zero ideas about solo travel and digital nomad lifestyle. <br>
            Support our work.
            We would like you to be supportive to our blog if you like the content and subscribe to receive 
            our latest newsletter or comment in our articles. 
        </p> <br>
    </div>
    <div class="row next">
        <h1>Thank you.</h1>
    </div>
    </div>

{% endblock %}
